.add-form, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

.overlay {
    background: rgba(49,49,49,0.8);
  }

  .modal-content {
    display: block !important;
    position: fixed !important;
    top: 13vh !important;
    left: 40vw !important;
    padding: 2% !important;
    z-index: 999 !important;    
    background-color: #F7F7F7 !important;
    margin: 0 auto!important;
    border-radius: 2px!important;
    border-radius: 3%!important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)!important;
    overflow: hidden!important;
  
  }

  .addPhone-button {
    position: absolute;
    left: 5px;
  }

  